*.obj
*.bsc
*[Dd]ebug*/
*[Rr]elease*/
*deleted/
del-source/
ipch/
obj/
*.ipch
*.pdb
*.ncb
*.opt
*.plg
*.suo
*.sdf
*.user
*.lib
*.exe
*.exp
*.tlb
*_h.h
*_i.c
*_p.c
*.tlh
*.tli
*.filters
==*
==*/
*.aps
*.posi*
*.clw
Middle/
mid/
*.exp
*.ilk
$*/
*.old
*.bak
*.sbr
*.vspscc
*.scc
*.user
*.zip
*.rar
# Office Temp Files
~$*

# vim Temp Files
*~
压缩包备份/
